body {
  /* IE
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);

  /* Chrome, Safari
  -webkit-filter: grayscale(1);

  /* Firefox
  filter: grayscale(1);*/
}
@charset "utf-8";
/* CSS Document */
/*Banner Class Start Here*/
.banner_main_box{
	width:100%;
	float:left;
	min-height:374px;
	/*background:url(../images/banner-bg.png) center top repeat-x;*/
	padding:0px 0 0px 0;
	font-family:'open_sansbold', Arial, Helvetica, sans-serif;
}
.th .banner_main_box {
	font-family:'rsubold', Arial, Helvetica, sans-serif;
}
.banner{
	width:980px;
	margin:auto;
	min-height:374px;
	/*background:url(../images/english/banner.png) center top no-repeat;*/
	padding:0px 0 0px 0px;
	position: relative;
}
.banner-button{
width:930px;
margin:auto;
padding:230px 0 0 10px;
}
.banner-register{
font-size:12px;
float:left;
}
.howitworks-button{
width:265px;
float:left;
color:#FFFFFF;
font-size:22px;
font-family:'open_sansbold', Arial, Helvetica, sans-serif;
text-transform:uppercase;
cursor:pointer;
height:55px;
padding:8px 25px 0 25px;
border:none;
background:#ff4500;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius:3px;
box-shadow: 0px 3px 0px rgba(182, 55, 23, 1);
-webkit-box-shadow: 0px 3px 0px rgba(182, 55, 23, 1), 0 0px 0px rgba(0, 0, 0, 0) inset;
-moz-box-shadow: 0px 3px 0px rgba(182, 55, 23, 1), 0 0px 0px rgba(0, 0, 0, 0) inset;
}
.howitworks-button:hover{
background:#dd3c00;
}

.banner-bg-1 {
	 background: url(/uploads/banner/30ff68e5efd700c501de0e6bb091be44.jpg) no-repeat center top rgba(0, 0, 0, 0);
}

.register_banner{
width:185px;
float:left;
background:url(../images/english/register_banner.png) no-repeat;
height:52px;
padding:157px 0 0 46px;
display:none;
}

#banner-head {
    font-size: 42px;
    clear: both;
    display: block;
    margin-top: 30px;
}
.th #banner-head{
	font-size: 46px;
}
#banner-subhead{
    font-size: 20px;
    display: block;
    margin-top: 5px;
}
.th #banner-subhead{
	font-size: 26px;
	margin-top: 0;
}
.banner-btn{
    line-height: 51px;
    height: 50px;
    padding: 0 20px;
    margin: 30px 0;
    background: #ff4500;
    box-shadow: 0 4px 0 #b63717;
    border-radius: 4px;
    display: block;
    float: left;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-family: 'open_sansbold', Tahoma, Helvetica, sans-serif;
}
.th .banner-btn{
	line-height: 53px;
	font-size: 30px;
    font-family: 'rsubold', Tahoma, Helvetica, sans-serif;
}
.banner-btn:hover {
background: #dd3c00;
}
.banner-button{
width:930px;
margin:auto;
padding:230px 0 0 10px;
}
.banner-register{
font-size:12px;
float:left;
}
.howitworks-button{
width:265px;
float:left;
color:#FFFFFF;
font-size:22px;
font-family:'open_sansbold', Arial, Helvetica, sans-serif;
text-transform:uppercase;
cursor:pointer;
height:55px;
padding:8px 25px 0 25px;
border:none;
background:#ff4500;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius:3px;
box-shadow: 0px 3px 0px rgba(182, 55, 23, 1);
-webkit-box-shadow: 0px 3px 0px rgba(182, 55, 23, 1), 0 0px 0px rgba(0, 0, 0, 0) inset;
-moz-box-shadow: 0px 3px 0px rgba(182, 55, 23, 1), 0 0px 0px rgba(0, 0, 0, 0) inset;
}
.howitworks-button:hover{
background:#dd3c00;
}


.notif_main{
	width:100%;
	/*float:left;*/
	min-height:104px;
	/*background: #0baa94;*/
	padding:0px 0 0px 0;
	font-family:'open_sansregular', Arial, Helvetica, sans-serif;
}
.th .notif_main {
	font-family:'rsubold', Tahoma, Helvetica, sans-serif;
}
.notif{
	width:980px;
	margin:auto;
	/*background:url(../images/english/banner.png) center top no-repeat;*/
	background: no-repeat left center;
	padding:0px 0 0px 0px;
	position: relative;
}
#notif-head {
    font-size: 30px;
    clear: both;
    display: block;
    margin-top: 16px;
    color: #fff;
    float: left;
    width: 700px;
    font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
}
.th #notif-head{
	font-size: 34px;
	font-family: 'rsubold', Tahoma, Helvetica, sans-serif;
}
#notif-subhead{
    font-size: 16px;
    display: block;
    margin: 5px 0 20px;
    float: left;
    width: 700px;
    color: #000;
}
.th #notif-subhead{
	font-size: 22px;
	margin-top: -3px;
}
.notif-btn,.orgbtn{
    line-height: 51px;
    height: 50px;
    padding: 0 20px;
    margin: 10px 0;

    box-shadow: 0 4px 0 #b63717;
    border-radius: 4px;
    display: inline-block;
    color: #fff !important;
    text-decoration: none;
    font-size: 24px;
    font-family: 'open_sansbold', Tahoma, Helvetica, sans-serif;
    cursor: pointer;
    background: #ff5910;
}
.notif-btn{
    float: right;
    position: absolute;
    right: 20px;
    top: 24px;
    margin: 0px 20px;
    display: block;
}
.th .notif-btn, .th .orgbtn{
	line-height: 53px;
	font-size: 30px;
    font-family: 'rsubold', Tahoma, Helvetica, sans-serif;
}
.notif-btn:hover,.orgbtn:hover {
background: #e34f0e;
text-decoration: none;
}

.bidlow .notif {
	background-image: url(/images/bidlow.gif);
	padding-left: 145px;
	width: 835px;
	min-height: 143px;
	background-position: left top;
}

/*Our Latest Winner Class Start Here*/
.ourlastwinner_main_box{
	width:980px;
	float:left;
	padding:0px 0px 50px 0px;
}
.ourlastwinner_header_leftbg{
	float:left;
	background:url(../images/news_leftbg.png) no-repeat;
	width:26px;
	height:41px;
	display:none;
}
.ourlastwinner_header_rightbg{
	float:left;
	background:url(../images/news_rightbg.png) no-repeat;
	width:26px;
	height:41px;
}
.ourlastwinner_header_middlebg{
	width:980px;
	float:left;
	margin-bottom:10px;
	padding:0px 0 7px 0px;
	font-family:'open_sansbold', Arial, Helvetica, sans-serif;
	font-size:17px;
	color:#094b3f;
	border-bottom:1px solid #CCCCCC;
}
.news_detail_topbg{
	width:488px;
	float:left;
	background:url(../images/news_detail_topbg.png) no-repeat;
	height:12px;
	display:none;
}
.news_detail_bottombg{
	width:488px;
	float:left;
	background:url(../images/news_detail_bottombg.png) no-repeat;
	height:13px;
	display:none;
}
.news_detail_middlebg{
	width:980px;
	float:left;
	padding:0 0 0 0;
}
.ourlastwinner_1{
width:204px;
float:left;
border-bottom:1px solid #dcdcdc;
}
.ourlastwinner_2{
width:204px;
float:left;
}
.ourlastwinner_main_detail{
width:193px;
float:left;
border-left:1px solid #9b9b9b;
border-right:1px solid #9b9b9b;
padding:0 10px 0 10px;
}
.ourlastwinner_product_box{
	width:204px;
	padding-top: 8px;
	padding-bottom:5px;
}
.ourlastwinner_product_image{
	width:85px;
	height:62px;
	float:left;
	text-align:center;
	padding-top:3px;
	background:#FFFFFF;
	border:1px solid #cccccc;
}
.ourlastwinner_product_row{
	width:204px;
	float:left;
}
.ourlastwinner_product_name{
	width:110px;
	float:left;
	color:#333333;
	font-size:14px;
	padding-top: 20px;
}
.ourlastwinner_date{
	width:110px;
	float:left;
	padding-bottom:20px;
}
.ourlastwinner_soldrow{
	width:110px;
	float:left;
	padding-bottom:10px;
}
.ourlastwinner_winnerrow{
	width:204px;
	float:left;
	padding-bottom:10px;
}
.ourlastwinner_sold{
	color:#333333;
	font-size:15px;
	font-weight:bold;
}
.ourlastwinner_name{
	color:#ff9933;
	font-size:14px;
}
.ourlastwinner_winner_detail{
	width:195px;
	float:left;
	font-weight:bold;
	text-align:center;
	padding-bottom:8px;
}
.ourlastwinner_price{
	color:#ea5800;
}
.ourlastwinner_saving{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: green;
}
.ourlastwinner_wouldbenxtwinner{
	width:195px;
	text-align:center;
	font-weight:bold;
}
/*Our Latest Winner Class End Here*/
/*Banner Class End Here*/
/*Index Section Start Here*/
.content_container{
	width:100%;
	float:left;
	padding:25px 0px 0px 0px !important;;
}
.category-tab-main{
/*width:100%;
float:left;
border-bottom:1px solid #008775;*/
  width: 980px;
  border-bottom: 1px solid #008775;
  margin: 0 auto;
  height: 40px;
  display: none;
}
.category-tab-fix{
width:980px;
margin:auto;
}
.category-tab-fix ul {
padding:0px;

}
.category-tab{
width:auto;
float:left;
margin-right:7px;
color:#094b3f;
font-size:17px;
font-weight:bold;
text-align:center;
line-height:44px;
height:40px;
padding:0 12px 0 12px;
/*border:1px solid #0baa94;*/
-moz-border-radius:7px 7px 0px 0px;
-webkit-border-radius:7px 7px 0px 0px;
border-radius:7px 7px 0px 0px;
background: #cbe6e1;
/*background-image:-moz-linear-gradient(top, #ffffff, #cbe6e1);
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#cbe6e1));
background-image:-webkit-linear-gradient(top, #ffffff, #cbe6e1);
background-image:-o-linear-gradient(top, #ffffff, #cbe6e1);
background-image:linear-gradient(to bottom, #ffffff, #cbe6e1);
background-repeat:repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffcbe6e1', GradientType=0);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient (startColorstr=#ffffff, endColorstr=#cbe6e1, GradientType=0)";*/
cursor:pointer;
list-style:none;
/*text-shadow:0 1px 1px rgba(0,0,0,0.3);*/
}
.category-tab:hover{
background: #077364;
color:#FFFFFF;
/*background-image:-moz-linear-gradient(top, #077364, #0baa94);
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#077364), to(#0baa94));
background-image:-webkit-linear-gradient(top, #077364, #0baa94);
background-image:-o-linear-gradient(top, #077364, #0baa94);
background-image:linear-gradient(to bottom, #077364, #0baa94);
background-repeat:repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff077364', endColorstr='#ff0baa94', GradientType=0);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient (startColorstr=#077364, endColorstr=#0baa94, GradientType=0)";*/
}
.category-tab-selected{
width:auto;
float:left;
margin-right:7px;
/*text-shadow: 0 1px 2px rgba(0,0,0,0.8);*/
color:#094b3f;
font-size:17px;
font-weight:bold;
text-align:center;
line-height:44px;
height:40px;
padding:0 12px 0 12px;
/*border:1px solid #0baa94;*/
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
color:#FFFFFF;
-moz-border-radius:7px 7px 0px 0px;
-webkit-border-radius:7px 7px 0px 0px;
border-radius:7px 7px 0px 0px;
background: #008775;
/*background-image:-moz-linear-gradient(top, #077364, #0baa94);
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#077364), to(#0baa94));
background-image:-webkit-linear-gradient(top, #077364, #0baa94);
background-image:-o-linear-gradient(top, #077364, #0baa94);
background-image:linear-gradient(to bottom, #077364, #0baa94);
background-repeat:repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff077364', endColorstr='#ff0baa94', GradientType=0);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient (startColorstr=#077364, endColorstr=#0baa94, GradientType=0)";*/
cursor:pointer;
list-style:none;
}
.cat-more{
width:auto;
float:left;
color:#858585;
font-size:18px;
font-weight:bold;
padding:8px 0 0 10px;
cursor:pointer;
list-style:none;
}
.cat-more a{
text-decoration:none;
color:#858585;
}
.cat-search-main{
float:left;
width:310px;
margin-left:-310px;
position:absolute;
}
.textbox_my{
width:144px;
height:34px;
float:left;
margin:0 8px 0 0;
padding:0 8px 0 8px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
border:1px solid #ababab;
}
.searchtextbox{
width:125px;
height:30px;
float:right;
margin:3px 3px 0 0;
padding:0 8px 0 8px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
border:1px solid #ababab;
outline:none;
}
.search-button{
width:auto;
float:right;
color:#FFFFFF;
font-size:15px;
font-weight:bold;
text-align:center;
line-height:30px;
cursor:pointer;
height:32px;
padding:0 12px 0 12px;
border:none;
background:#094b3f;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius:3px;
margin:3px 0 0;
}
.search-button:hover{
background:#0baa94;
}
.bidnow_row{
	width:980px;
	margin:auto;
	padding:0 0 0 0;
}
.leftside{
	width:980px;
	float:left;
	padding:0 0 0 0;}


.index_bidnow_header_box{
	width:980px;
	float:left;
	margin-top:20px;
}
.bidnow_titlebox{
width:auto;
float:left;
display:none;
}
.bidnow_titleleft_bg{
width:12px;
float:left;
height:32px;
background:url(../images/bidnow_titleleft_bg.png) no-repeat;
}
.bidnow_titleright_bg{
width:12px;
float:left;
height:32px;
background:url(../images/bidnow_titleright_bg.png) no-repeat;
}
.bidnow_titlemiddle_bg{
width:470px;
float:left;
height:32px;
padding:0px 10px 0 5px;
background:url(../images/bidnow_titlemiddle_bg.png) repeat-x;
}
.bidnow_title{
width:445px;
float:left;
height:27px;
padding:5px 0px 0 35px;
background:url(../images/bidnow_icon.png) no-repeat;
}
.buybids_title{
width:445px;
float:left;
height:27px;
padding:5px 0px 0 35px;
background:url(../images/buybids_icon.png) no-repeat;
}
.index_bidnow_header_leftbg{
	background:url(../images/bidnow_leftbg.png) no-repeat;
	float:left;
	height:39px;
	width:10px;
	display:none;
}
.bidnow_middlebg{
	width:980px;
	float:left;
	font-size:19px;
	font-family:'open_sansbold', Arial, Helvetica, sans-serif;
	padding:0px 0 0px 0px;
	color:#333333;
	height:40px;
}
.index_bidnow_header_rightbg{
	background:url(../images/bidnow_rightbg.png) no-repeat;
	float:left;
	height:39px;
	width:10px;
	display:none;
}
.bidnow_content{
	width:980px;
	float:left;
	padding:20px 0px 0px 0px;
	background:#FFFFFF;
	min-height:300px;
}
.bidnow_more a{
color:#ff4500;
font-size:18px !important;
line-height:38px !important;
/*font-weight:bold;*/
height:36px;
margin:0;
padding:0 15px;
}
.th .bidnow_more a{
font-size:24px !important;
line-height:40px !important;
}
.bidnow_more a:hover{
}

/*Index Live Auction Box Class Start Here*/
.main_bidnow_box{
	width:225px;
	float:left;
	padding:0 23px 0 1px;
	padding-bottom:20px;
}
.main_bidnow_topbg_image{
	float:left;
	width:199px;
	height:36px;
	font-weight:bold;
	text-align:center;
	padding:10px 12px 0 12px;
	background:url(../images/bidbox_topbg.png) no-repeat;
	display:none;
}
.main_bidnow_middle{
	width:225px;
	float:left;
	padding:0px;
	border:1px solid #cccccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius:4px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0 0px 0px rgba(0, 0, 0, 0) inset;
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0 0px 0px rgba(0, 0, 0, 0) inset;
}
.main_bidnow_middle:hover{
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2), 0 0px 0px rgba(0, 0, 0, 0) inset;
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3), 0 0px 0px rgba(0, 0, 0, 0) inset;
}
.main_bidnow_middle-winner{
	width:225px;
	float:left;
	padding:0px;
	background:#f4f4f4;
	border:1px solid #cccccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius:4px;
	height:473px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0 0px 0px rgba(0, 0, 0, 0) inset;
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0 0px 0px rgba(0, 0, 0, 0) inset;
}
.main_bidnow_middle, .main_bidnow_middle-winner{
	min-height:615px;
	max-height:615px;

}
.main_bidnow_product_auction_type_winner{
float: left;
text-align: center;
width: 225px;

display: block
}
.th .main_bidnow_product_auction_type_winner{
padding-top:9px;
}

.main_bidnow_leftbg_image{
	float:left;
	background:url(../images/bidbox_leftbg.png) no-repeat;
	width:10px;
	height:344px;
	display:none;
}
.main_bidnow_middlebg{
	float:left;
	width:172px;
	height:auto;
	display:none;
}
.bidnowbox_topbgrow{
	width:227px;
	float:left;
	display:none;
}
.bidnowbox_leftbg{
	width:7px;
	float:left;
	height:141px;
	background:url(../images/bidnowbox_leftbg.png) no-repeat;
	display:none;
}
.bidnowbox_rightbg{
	width:7px;
	float:left;
	height:141px;
	background:url(../images/bidnowbox_rightbg.png) no-repeat;
	display:none;
}
.bidnowbox_middlebg{
	width:227px;
	float:left;
	height:141px;
	background:url(../images/bidnowbox_middlebg.png) repeat-x;
}
.main_bidnow_title-winner{
	width:100%;
	float:left;
	text-align:center;
	padding:0px 0px 0px 0px;
	text-transform:uppercase;
	font-family:'open_sansbold', Arial, Helvetica, sans-serif;
	font-size:20px;
	background:#0baa94;
	color:#ffffff;
	/*
	-moz-border-radius:3px 3px 0px 0px;
	-webkit-border-radius:3px 3px 0px 0px;
	border-radius:3px 3px 0px 0px;*/

}
.main_bidnow_title{
	width:205px;
	float:left;
	text-align:center;
	padding:8px 10px 16px 10px;
	font-family:'open_sansbold', Arial, Helvetica, sans-serif;
	font-size:16px;
	height:35px;
	text-decoration:none;
	color:#333333;
}
.main_bidnow_title a{
	text-decoration:none;
	color:#333333;
	font-weight:bold;
}
.main_bidnow_title a:hover{
	text-decoration:underline;
	/*font-size:12px;*/
	color:#333333;
}


.main_bidnow_heart_image{
	position: absolute;
	top: -8px;
	left: 175px;
}

.buynow_heart_image
{
	position: absolute;
	margin-left: 155px;
	margin-top: 48px;
	float: right;
}

.main_bidnow_product_image_box{
	width:225px;
	float:left;
	padding:0px 0 5px 0;

	-moz-border-radius: 3px;

	-webkit-border-radius: 3px;

	border-radius:3px;

}
.main_bidnow_product_auction_type_left{
	float:left;
	width:30px;
	display:none;
}
.main_bidnow_product_image{
	width:225px;
	float:left;
	text-align:center;

	-moz-border-radius: 3px;

	-webkit-border-radius: 3px;

	border-radius:3px;

}
.main_bidnow_product_image img{
	width: 225px;

	height:177px;
	border-top-right-radius:3px;

	-moz-border-top-right-radius:3px;

	-webkit-border-top-right-radius:3px;

	border-top-left-radius:3px;

	-moz-border-top-left-radius:3px;

	-webkit-border-top-left-radius:3px;
}
.main_bidnow_product_auction_type_right{
	float:left;
	width:30px;
	text-align:right;
	display:none;
}
.main_bidnow_product_auction_type_bottom{
	float:left;
	text-align:center;
	width:225px;
	display:block;
}
.main_bidnow_auction_type_edge {
position: absolute;
top: 240px;
left: -5px;
}
.main_bidnow_auction_type_edge.nobsr {
	top: 301px;
}
.timeleft_title{
color: #888888;
float: left;

padding: 0;
text-align: center;
width: 225px;
font-size: 12px;

}
.th .timeleft_title {
	height: 18px;
	font-size: 16px;
}
.main_bidnow_middle-winner .timeleft_title {
	color: #666;
	font-size: 12px;
}
.th .main_bidnow_middle-winner .timeleft_title {
	font-size: 16px;
}
.product_retailprice{
	width:227px;
	float:left;
	text-align:center;
	color:#666666;
	padding:5px 0 0 0;
	display:none;
}
.main_bidnow_hours{
	font-size:18px;
	font-weight:normal;
}
.main_bidnow_timer{
	width:225px;
	float:left;
	font-family:'open_sansbold', Arial, Helvetica, sans-serif !important;
	color:#000;
	text-align:center;


	font-size:26px;

	padding:3px 0 0px 0px;

	height:31px;
	letter-spacing:1px;
}
.timer_container{
width:46px;
float:left;
text-align:center;
}
.auction_second_timer{
width:41px;
float:left;
height:41px;
color:#ad0000;
background:url(../images/timer_bg.png) no-repeat;
text-align:center;
font-weight:bold;
font-size:23px;
}
.timer_duration{
width:41px;
float:left;
color:#959595;
font-size:10px;
font-weight:normal;
margin-top:-2px;
}
.main_bidnow_price_box{
	width:227px;
	float:left;
	font-size:15px;
	padding:0px 0 0px 0;
	display:none;
}
.left_iconrow{
width:225px;
float:left;
text-align:center;
padding:15px 0 10px 0;
}
.icon{
width:55px;
float:left;
text-align:center;
padding:0 0 3px 0;
}
.icon2{
width:55px;
float:left;
text-align:center;
padding:0 0 2px 0;
}
.right_iconrow{
width:55px;
float:left;
padding:15px 0 0 0;
display:none;
}
.price_row{
width:223px;
float:left;
padding:0 0 8px 0;
}
.main_bidnow_price_inner{
	width:225px;
	float:left;
	padding:0px 0px 0 0;
	text-align:center;
	font-family:'open_sansbold', Arial, Helvetica, sans-serif;
	font-size:26px;
	letter-spacing:0;
	color:#079e0e;
}

.main_bidnow_price{
	width:225px;
	padding-top:4px;
	padding-bottom:0px;
}
.bidnow_bidder_row{
	width:222px;
	float:left;
	text-align:center;
	font-size:12px;
	padding:8px 0px 0px 0px;
}
.bidnow_bidder_title{
	width:102px;
	float:left;
	text-align:right;
	font-size:12px;
	color:#666666;
	font-weight:bold;
	padding:0px 0px 0px 0px;
	display:none;
}
.pro_retailprice{
	width:225px;
	float:left;
	text-align:center;
	font-size:15px;
	color:#888888;
	padding:0px 0px 0px 0px;
}

.main_bidnow_bidder{
	width:141px;
	float:left;
	text-align:center;
	font-size:16px;

	padding:5px 0px 0px 0px;
	color:#585858;
	margin: 0px 42px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.trimusr
{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.th .main_bidnow_bidder{
	font-size: 22px;
}
.main_bidnow_bidder-winner{
	width:225px;
	float:left;
	text-align:center;
	font-size:25px;
	color:#094b3f;
	padding:10px 0px 0px 0px;
	font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.main_bidnow_middle-winner .main_bidnow_title {
	font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
	font-size: 15px;
}
.th .main_bidnow_middle-winner .main_bidnow_title {
	font-family: 'rsuregular', Tahoma, Helvetica, sans-serif;
	font-size: 18px;
}
.main_bidnow_middle-winner .main_bidnow_price_inner {
	color: #888;
}
.main_bidnow_middle-winner .main_bidnow_price {
	padding-top:0px;
	padding-bottom:4px;
}
.main_bidnow_savings{
font-size:21px;
text-transform:uppercase;
padding:0;
color:#ff4500;
font-family:'open_sansbold',Arial,Helvetica,sans-serif;
line-height:32px;
text-align:center;
margin:4px 25px;
float:left;
width:175px;
border:1px solid #ff4500;
background:#fff6f3;

height:32px;

}
.th .main_bidnow_savings{
	font-family:'rsubold',Tahoma,Helvetica,sans-serif;
	line-height:34px;
}
.main_bidnow_auction_type_bottom{
	width:220px;
	height:30px;
	float:left;
	text-align:center;
	padding:5px 0 0px 0;
	display:none;
}

.bidnow-button{
width:125px;
float:left;
color:#FFFFFF;
font-size:19px;
font-family:'open_sansbold', Arial, Helvetica, sans-serif;
text-align:center;
text-transform:uppercase;
line-height:36px;
cursor:pointer;
height:36px;
padding:0 12px 0 12px;
border:none;
background:#ff4500;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius:3px;
box-shadow: 0px 3px 0px rgba(182, 55, 23, 1);
-webkit-box-shadow: 0px 3px 0px rgba(182, 55, 23, 1), 0 0px 0px rgba(0, 0, 0, 0) inset;
-moz-box-shadow: 0px 3px 0px rgba(182, 55, 23, 1), 0 0px 0px rgba(0, 0, 0, 0) inset;
}
.bidnow-button:hover{
background:#dd3c00;
}


.main_bidnow_button
{
	width:225px;
	float:left;
	padding:8px 0 10px 0px;
	text-align:center;
}

.th .main_bidnow_button {
	padding:6px 0 10px 0px;
}

.main_bidnow_rightbg_image{
	float:left;
	background:url(../images/bidbox_rightbg.png) no-repeat;
	width:10px;
	height:344px;
	display:none;
}
.main_bidnow_bottombg_image{
	float:left;
	width:223px;
	height:9px;
	background:url(../images/bidbox_bottombg.png) no-repeat;
	display:none;
}
.bidnow_content_bottom_image{
	float:left;
	background:url(../images/bidnow_content_bottumbg.png) no-repeat;
	width:715px;
	height:5px;
	display:none;
}
.paging_row{
width:980px;
float:left;
height:31px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius:3px;
background:#e9e9e9;
border:1px solid #DADADA;
padding:5px 0;
text-align:center;
margin:10px 0 20px;
}
.paging-detail{
width:400px;
margin:auto;
padding:5px 0 0 0;
}
.paging-btn{
width:28px;
display:inline-block;
color:#333333;
font-size:16px;
font-weight:bold;
text-align:center;
height:30px;
padding:0 5px;
margin-right:8px;
background:#ffffff;
border:1px solid #c2c2c2;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius:3px;
box-shadow: 0px 0px 0px rgba(0, 0, 0,0.2),  0 0px 3px rgba(0, 0, 0, 0.2) inset;
-webkit-box-shadow:0px 0px 0px rgba(0, 0, 0,0.2), 0 0px 3px rgba(0, 0, 0, 0.2) inset;
-moz-box-shadow: 0px 0px 0px rgba(0, 0, 0,0.2), 0 0px 3px rgba(0, 0, 0, 0.2) inset;
cursor:pointer;
line-height:31px;
}
.paging-btn:hover, .paging-btn-selected{
background:#0baa94;
color:#FFFFFF;
border:1px solid #068c79;
}

.paging-btn:hover a, .paging-btn-selected a{
	color: #fff;
	text-decoration: none;
}

.paging-btn a {
	width:28px;
	text-align:center;
	display:inline-block;
}
.paging-btn-first{
width:auto;
display:inline-block;
font-size:16px;
font-weight:bold;
text-align:center;
height:30px;
padding:0 7px;
margin-right:8px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius:3px;
-moz-box-shadow: 0px 0px 0px rgba(0, 0, 0,0.2), 0 3px 5px rgba(0, 0, 0, 0.5) inset;
cursor:pointer;
background:#fff;
border:1px solid #c2c2c2;
color: #888;
line-height: 31px;
}
.paging-btn-first:hover{
background:#0baa94;
color:#FFFFFF;
border:1px solid #068c79;
}
.paging-btn-first:hover a {
	text-decoration: none;
	color: #fff;
}

.th .paging-btn, .th .paging-btn-first{
	line-height: 33px;
}
/*Index Live Auction Box Class End Here*/
/*Index More Live Auction Class Start Here*/
.index_morelive_container{
	width:936px;
	float:left;
	padding-bottom:10px;
}
.index_morelive_heading_row{
	width:936px;
	float:left;
}
.index_morelive_heading_box_leftbg{
	float:left;
	background:url(../images/bidnow_leftbg.png) no-repeat;
	height:36px;
	width:8px;
}
.index_morelive_heading_box_middlebg{
	width:900px;
	float:left;
	background:url(../images/bidnow_middlebg.png) repeat-x;
	height:31px;
	font-size:18px;
	color:#FFFFFF;
	padding:5px 0 0 20px;
}
.index_morelive_heading_box_rightbg{
	float:left;
	background:url(../images/bidnow_rightbg.png) no-repeat;
	height:36px;
	width:8px;
}
.index_morelive_contentbg{
	width:892px;
	float:left;
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	padding:0px 21px 0px 21px;
}
.index_morelive_content_titlerow{
	width:956px;
	float:left;
	font-size:14px;
	color:#585d62;
	padding-top: 5px;
	padding-bottom: 5px;
}
.index_morelive_content_leftbg{
	float:left;
	background:url(../images/des_title_leftbg.png) no-repeat;
	width:7px;
	height:31px;
	display:none;
}
.index_morelive_content_titleimage{
	width:120px;
	float:left;
	text-align: center;
	padding-left:20px;
}
.index_morelive_content_titledesc{
	width:345px;
	float:left;
	text-align: left;
	padding-left:10px;
}
.index_morelive_content_titleprice{
	width:112px;
	float:left;
	text-align: center;
}
.index_morelive_content_titlebidder{
	width:130px;
	float:left;
	text-align: center;
}
.index_morelive_content_titlecountdown{
	width:130px;
	float:left;
	text-align: center;
}
.index_morelive_content_rightbg{
	float:right;
	background:url(../images/des_title_rightbg.png) no-repeat;
	width:7px;
	height:31px;
	display:none;
}
.index_morelive_bidbox_leftbg{
	float:left;
	background:url(../images/endedaucbox_leftbg.png) no-repeat;
	width:11px;
	height:128px;
}
.index_morelive_bidbox_topbg{
	float:left;
	background:url(../images/morelive_aucbox_topbg.png) no-repeat;
	width:958px;
	height:9px;
	display:none;
}
.index_morelive_bidbox_bottombg{
	float:left;
	background:url(../images/morelive_aucbox_bottombg.png) no-repeat;
	width:958px;
	height:9px;
	display:none;
}
.index_morelive_bidbox_middlebg{
	width:934px;
	float:left;
	background:url(../images/endedaucbox_middlebg.png) repeat-x;
	padding:15px 0 0 0px;
	height:113px;
}
.index_morelive_product_row{
	width:155px;
	float:left;
	text-align:center;
	padding:3px 0 0 0px;
}
.index_morelive_product{
	width:110px;
	float:left;
	height:82px;
	text-align:center;
	padding-top:5px;
	background:url(../images/product_bg.png) no-repeat;
	display:none;
}
.index_morelive_descbox{
	width:310px;
	float:left;
	padding-left:5px;
}
.index_morelive_desc_heading{
	width:310px;
	float:left;
	padding:0 0 8px 0;
	color:#333333;
	font-weight:bold;
	font-size:13px;
	text-decoration:none;
}
.index_morelive_inner_desc_heading a{
	color:#333333;
	font-size:14px;
	text-decoration:none;
}
.index_morelive_inner_desc_heading a:hover{
	color:#333333;
	font-size:14px;
	text-decoration: underline;
}
.index_morelive_desc_text{
	width:310px;
	float:left;
	color:#636d76;
	height:35px;
	font-size:12px;
}
.index_ended_bidtype_box{
	width:300px;
	float:left;
	padding-top:5px;
}
.index_morelive_inner_textmore{
	color:#c90005;
	font-weight:bold;
	text-decoration:none;
	width:300px;
	float:left;
	padding:0 0 3px 0;
}
.index_morelive_inner_textmore a{
	color:#c90005;
	font-weight:bold;
	text-decoration:none;
}
.index_morelive_inner_textmore a:hover{
	color:#c90005;
	font-weight:bold;
	text-decoration: underline;
}
.index_morelive_pricebox{
	width:135px;
	text-align:center;
	float:left;
	font-weight:bold;
	font-size:18px;
	color:#333333;
	padding-top:35px;
}
.index_morelive_inner_price{
	width:95px;
	height: 23px;
	padding-top: 4px;
}
.index_morelive_inner_price_instead{
	padding-top: 3px;
	font-size:12px;
	display:none;
}
.index_ended_retilprice{
width:135px;
float:left;
color:#666666;
font-size:12px;
font-weight:normal;
}
.index_morelive_winnername{
	width:130px;
	float:left;
	text-align:center;
	font-size:14px;
	color:#081786;
	padding-top:45px;
}
.index_morelive_countdown_row{
width:190px;
float:left;
padding:8px 0 0 0;
}
.index_morelive_timer{
width:41px;
float:left;
padding:0 0 0 0;
color:#09449c;
font-weight:bold;
text-align:center;
font-size:31px;
}
.index_morelive_bidbtn{
width:190px;
float:left;
text-align:center;
padding:14px 0 0 0;
}
.index_morelive_inner_counterbox{
	width:130px;
	float:left;
}
.index_morelive_inner_counter_timer{
	width:130px;
	float:left;
	color:#ff6600;
	font-size:26px;
	padding-top:15px;
	text-align:center;
	font-weight: bold;
}
.index_morelive_inner_bid_button{
	width:130px;
	float:left;
	text-align:center;
	padding-top:10px;
}
.index_ended_bidbox_rightbg{
	float:left;
	background:url(../images/endedaucbox_rightbg.png) no-repeat;
	width:11px;
	height:128px;
}
.index_morelive_content_bottombg{
	width:936px;
	float:left;
	background:url(../images/morelive_content_bottumbg.png) no-repeat;
	height:5px;
}
/*Index More Live Auction Class End Here*/
/*Right Side Section Start Here*/
.rightside{
	width:980px;
	float:left;
	margin:30px 0 20px 0;
	padding:0px 0 0 0;
}

/*News Start Here*/
.news_main_box{
	width:225px;
	float:left;
	margin:0 20px 0 0;
	padding-bottom:0px;
}
.testimonial_detail_leftbg{
width:10px;
float:left;
background:url(../images/testimonial_detail_leftbg.png) no-repeat;
height:188px;
display:none;
}
.testimonial_detail_middlebg{
width:225px;
float:left;
}
.testimonial_detail_rightbg{
width:10px;
float:left;
background:url(../images/testimonial_detail_rightbg.png) no-repeat;
height:188px;
display:none;
}


.news_header{
	width:225px;
	float:left;
	padding:0 0 5px 0;
	display:none;
}
.news_header_leftbg{
	float:left;
	background:url(../images/news_leftbg.png) no-repeat;
	width:26px;
	height:41px;
	display:none;
}
.news_header_middlebg{
width:466px;
float:left;
padding:5px 0 0px 0px;
font-weight:bold;
font-size:16px;
color:#FFFFFF;
}
.news_header_rightbg{
	float:left;
	background:url(../images/news_rightbg.png) no-repeat;
	width:26px;
	height:41px;
	display:none;
}
.news_detail_box{
	width:980px;
	float:left;
}
.latest_product_row{
width:225px;
float:left;
margin-top: 20px;
}
.latest_product{
width:90px;
float:left;
height:64px;
text-align:center;
padding:4px 10px 0 0;
}
.latest_pro_winner{
width:125px;
float:left;
padding:10px 0 0 0;
font-size:14px;
}
.latest_prorow{
width:225px;
float:left;
padding:0px 0 0px 0;
}
.winner-time{
width:225px;
float:left;
font-size:13px;
color:#666666;
padding:0px 0 0px 0;
}
.latest_protxt{
width:225px;
float:left;
/*font-size:12px;*/
padding:5px 0 5px 0;
}
.latest_win{
font-size:15px;
color:#ff4500;
text-transform:uppercase;
font-family:'open_sansbold', Arial, Helvetica, sans-serif;
}

.latest_price{
font-family:'open_sansbold', Arial, Helvetica, sans-serif;
color:#ff4500;
}
.news_detail_leftbg{
	float:left;
	background:url(../images/news_detaileftbg.png) no-repeat;
	width:8px;
	height:120px;
	display:none;
}
.meetwinners_detail_middlebg{
	width:225px;
	float:left;
	padding:0px 0px 0px 0px;
}
.winner_photo{
	width:225px;
	float:left;
	text-align:center;
	padding:0px 0 0 0;
	margin:0 0px 0 0;
}
.winner_proname{
width:225px;
float:left;
font-size:13px;
padding-bottom:10px;
font-family:'open_sansbold', Arial, Helvetica, sans-serif;
}
.winnerbox_bottombg{
width:233px;
float:left;
background:url(../images/winnerbox_bottombg_new.png) repeat-x;
text-align:center;
padding-top:5px;
height:25px;
font-weight:bold;
font-size:16px;
display:none;
}
.winnerbox_name{
width:225px;
float:left;
height:30px;
background:url(../images/winnerbox_bottombg_new.png) repeat-x;
padding:5px 0 0px 0;
font-size:16px;
text-align:center;
font-family:'open_sansbold', Arial, Helvetica, sans-serif;
color:#FFFFFF;
margin:-35px 0 0 0;
}
.winner_description{
width:256px;
float:left;
padding:0px 0 0 0;
font-size:13px;
display:none;
}
.winner_more{
width:256px;
float:left;
padding:10px 0 0 0;
font-size:12px;
font-weight:bold;
display:none;
}
.winner_more a{
color:#FFFFFF;
text-decoration:none;
}
.winner_more a:hover{
color:#FFFFFF;
text-decoration:underline;
}
.latestwin_detail_middlebg{
	width:225px;
	float:left;
	margin-right:25px;
	padding:0px 0px 10px 0px;
	border-bottom:2px solid #0baa94;
}

.news_detail_row_box{
	width:213px;
	float:left;
}
.news_detail_title{
	width:230px;
	float:left;
	color:#333333;
	padding:0px 0 3px 0;
	text-decoration:none;
}
.news_detail_title a{
	color:#333333;
	font-weight:bold;
	text-decoration:none;
}
.news_detail_title a:hover{
	color:#333333;
	font-weight:bold;
	text-decoration:underline;
}
.news_detail_date{
	width:230px;
	float:left;
	text-align:right;
	color:#666666;
}
.news_detail_detail{
	width:460px;
	float:left;
	padding-bottom:0px;
}
.news_detail_more{	width:auto;
	float:left;
	color:#ff4500;
	font-size:14px;
	font-family:'open_sansregular', Arial, Helvetica, sans-serif;
	font-weight:normal;
}
.news_detail_more a{
	color:#ff4500;
	text-decoration:none;
}
.news_detail_more a:hover{
	color:#ff4500;
	text-decoration:underline;
}
.news_detail_rightbg{
	float:left;
	background:url(../images/news_detailrightbg.png) no-repeat;
	width:8px;
	height:120px;
	display:none;
}
.secure_shopping{
width:224px;
float:left;
text-align:center;
padding:5px 0 2px 0;
}
/*News End Here*/
/*Buy Bids Start Here*/

.bidpack_main_box{
	width:475px;
	float:left;
	margin:0 20px 0 0;
	padding:0 0px 0px 0;
}
.bidpack_header{
	width:475px;
	float:left;
}
.bidpack_header_leftbg{
	float:left;
	background:url(../images/news_leftbg.png) no-repeat;
	width:26px;
	height:41px;
	display:none;
}
.bidpack_header_middlebg{
	width:475px;
	float:left;
	margin-bottom:10px;
	padding:0px 0 7px 0px;
	font-family:'open_sansbold', Arial, Helvetica, sans-serif;
	font-size:17px;
	color:#094b3f;
	border-bottom:1px solid #CCCCCC;
}
.bidpack_header_rightbg{
	float:left;
	background:url(../images/news_rightbg.png) no-repeat;
	width:26px;
	height:41px;
	display:none;
}
.bidpack_detail_box{
	width:475px;
	float:left;
	font-size:18px;
	font-weight:normal;
	padding:0px 0 0px 0;
	line-height:45px;
}
.bidpack_detail_leftbg{
	float:left;
	background:url(../images/bidpack_leftbg.png) no-repeat;
	width:8px;
	height:180px;
	display:none;
}
.bidpack_detail_topbg{
	background:url(../images/bidpack_detail_topbg.png) no-repeat;
	width:235px;
	float:left;
	height:15px;
	display:none;
}
.bidpack_detail_middlebg{
	width:475px;
	float:left;
	padding:0 0px 0 0px;
}
.bidpack_detail_bottombg{
	width:235px;
	float:left;
	background:url(../images/bidpack_detail_bottombg.png) no-repeat;
	height:17px;
	display:none;

}*/

/* New Year Campaign */

.bidpack_main_box

{

	width:475px;

	float:left;

	margin:0 20px 0 0;

	padding:0 0px 0px 0;

}

.bidpack_header

{

	width:475px;

	float:left;

}

.bidpack_header_leftbg

{

	float:left;

	background:url(../images/news_leftbg.png) no-repeat;

	width:26px;

	height:41px;

	display:none;

}

.bidpack_header_middlebg

{

	width:475px;

	float:left;

	margin-bottom:10px;

	padding:0px 0 7px 0px;

	font-family:'open_sansbold', Arial, Helvetica, sans-serif;

	font-size:17px;

	color:#094b3f;

	border-bottom:1px solid #CCCCCC;

}

.bidpack_header_rightbg

{

	float:left;

	background:url(../images/news_rightbg.png) no-repeat;

	width:26px;

	height:41px;

	display:none;

}

.bidpack_detail_box

{

	width:475px;

	float:left;

	font-size:18px;

	font-weight:normal;

	padding:0px 0 0px 0;

	line-height:45px;

}

.bidpack_detail_leftbg

{

	float:left;

	background:url(../images/bidpack_leftbg.png) no-repeat;

	width:8px;

	height:180px;

	display:none;

}

.bidpack_detail_topbg

{



	background:url(../images/bidpack_detail_topbg.png) no-repeat;

	width:235px;

	float:left;

	height:15px;

	display:none;

}

.bidpack_detail_middlebg

{

	width:475px;

	float:left;

	padding:0 0px 0 0px;

}

.bidpack_detail_bottombg

{

	width:235px;

	float:left;

	background:url(../images/bidpack_detail_bottombg.png) no-repeat;

	height:17px;

	display:none;

}

.bidpack_detail_bonus {
	width: 105px;
	float: left;
	padding: 0 20px 0 0px;
	text-align: right;
	height: 44px;
	line-height: 44px;
}

.bidpack_detail_bonus img {
padding: 10px 0px;
}

.mettwinners_detail_bottombg

{

	width:236px;
	float:left;
	background:url(../images/meetwinners_detail_bottombg.png) repeat-y;
	height:6px;
	display:none;
}
.bidpack_detail_arrow{
	width:40px;
	float:left;
	height:26px;
	background-image: url(../images/arrow_4.png);
	background-repeat: no-repeat;
	background-position: center center;
	display:none
}
.bidpack_detail_arrow2{
	width:40px;
	float:left;
	height:29px;
	background-image: url(../images/arrow_3.png);
	background-repeat: no-repeat;
	background-position: center 10px;
	display:none;
}
.bidpack_titlerow{
width:210px;
float:left;
border-bottom:1px dotted #000000;
padding:2px 7px 5px 7px;
font-weight:bold;
display:none;
}
.title_bidpack{
width:77px;
float:left;
}
.title_bidpackprice{
width:60px;
float:left;
text-align:center;
}
.title_bidpacksavings{
width:73px;
float:left;
text-align:right;
}
.bidpack_detail_row_odd{
	width:475px;
	float:left;
	height:45px;
	background:#ececec;
	padding:0px 0px 0px 0px;
}
.bidpack_detail_row1_odd{
	width:210px;
	float:left;
	padding:4px 7px 0 7px;
}

.bidpack_detail_bids_odd

{

	width:133px;

	float:left;
	padding:0 0 0 20px;
	color:#333333;
	height:45px;
	text-decoration:none;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(../images/arrow_5.png);
}
.bidpack_detail_bids_odd a{
	color:#333333;
	text-decoration:none;
}
.bidpack_detail_bids_odd a:hover{
	color: #333333;
	text-decoration: underline;
}

.bidpack_detail_price_odd

{

	width:100px;

	float:left;
	padding:0 20px 0 0px;
	text-align:right;
	height:23px;
}
.bidpack_detail_price_buy a{
	width:auto;
	float:right;
	padding-right:20px;
	color:#ff4500;
	text-align:right;
	text-decoration:none;
	font-weight:bold;
}
.bidpack_detail_saving_odd{
	width:73px;
	float:left;
	padding:0px 0 0 0px;
	text-align:right;
	height:20px;
	color:#ff6600;
	font-weight:normal;
}
.bidpack_detail_row_even{
	width:475px;
	float:left;
	height:45px;
	background:#f4f4f4;

	margin:0px 0 2px 0;

	padding:0px 0px 0px 0px;
}
.bidpack_detail_bids_even{
	width:105px;
	float:left;
	padding:13px 0 0 20px;
	height:30px;
	color:#a00000;
	text-decoration:none;
	background-repeat: no-repeat;
	background-position: right 12px;
	background-image: url(../images/arrow_5.png);
}
.bidpack_detail_bids_even a{
	color: #a00000; text-decoration:none;
}
.bidpack_detail_bids_even a:hover{
	color: #a00000; text-decoration: underline;
}
.bidpack_detail_price_even{
	width:88px;
	float:left;
	padding:13px 20px 0 0px;
	text-align:right;
	color:#a00000;
	height:23px;
}
.bidpack_detail_rightbg{
	float:left;
	background:url(../images/bidpack_rightbg.png) no-repeat;
	width:8px;
	height:180px;
	display:none;
}
/*Buy Bids End Here*/
/*Auction Type Start Here*/
.auctiontype_main_box{
	width:225px;
	float:left;
	padding-bottom:0px;
}
.auctiontype_header{
	width:225px;
	float:left;
}
.auctiontype_header_leftbg{
	float:left;
	background:url(../images/news_leftbg.png) no-repeat;
	width:26px;
	height:41px;
	display:none;
}
.auctiontype_header_rightbg{
	float:left;
	background:url(../images/news_rightbg.png) no-repeat;
	width:26px;
	height:41px;
	display:none;
}
.auctiontype_header_middlebg{
	border-bottom: 1px solid #CCCCCC;
    color: #094B3F;
    float: left;
    font-size: 17px;
    font-family:'open_sansbold', Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    padding: 0 0 7px;
    width:225px;
}
.auctiontype_detail_box{
	width:225px;
	float:left;
	padding:0 0 0px 0;
	border-bottom:2px solid #0BAA94;
}
.auctiontype_detail_leftbg{
	float:left;
	background:url(../images/auctiontype_leftbg.png) no-repeat;
	width:8px;
	height:223px;
	display:none;
}
.auctiontype_detail_rightbg{
	float:left;
	background:url(../images/auctiontype_rightbg.png) no-repeat;
	width:8px;
	height:223px;
	display:none;
}
.auctiontype_detail_middlebg{
	width:233px;
	float:left;
	padding:8px 0px 5px 0px;
}
.auctiontype_detail_row{
	width:225px;
	float:left;
	height:30px;
	padding:5px 0px 10px 0px;

}
.auctiontype_detail_row2{
	width:203px;
	float:left;
	padding:3px 10px 4px 20px;
}
.auctiontype_detail_icon{
	width:25px;
	float:left;
	padding-right:15px;
}
.auctiontype_detail_title{
	width:140px;
	float:left;
	padding-top:3px;
	font-size:14px;
}
.video_tutorial_topbg{
width:236px;
float:left;
background:url(../images/videotutorial_topbg.png) no-repeat;
height:9px;
}
.video_tutorial_title{
width:224px;
float:left;
font-size:26px;
color:#2560a7;
font-family:Georgia, Helvetica, Arial, sans-serif;
font-weight:bold;
text-align:center;
padding:0 0 0 0;
}
.youtube_btn{
width:224px;
float:left;
text-align:center;
padding:5px 0 5px 0;
}
.video{
width:224px;
float:left;
text-align:center;
padding:0 0 0 0;
}
.videotutorial_detail_middlebg{
	width:224px;
	float:left;
	padding:0px 6px 0px 6px;
	background:url(../images/bidpack_detail_middlebg.png) repeat-y;
}
/*Auction Type End Here*/

/*Upcoming Auction start Here*/
.upcoming_content{
	width:720px;
	float:left;
	padding:10px 0px 0px 5px;
}
.upcoming_title{
	width:701px;
	float:left;
	padding:0px 0px 8px 19px;
	font-weight:bold;
	font-family:Georgia, Helvetica, Arial, sans-serif;
	border-bottom:3px solid #f27200;
	font-size:17px;
}
.upcoming_auctionbox_row{
	width:706px;
	float:left;
	padding:14px 0px 0px 14px;
}
.upcoming_product_image{
	width:227px;
	float:left;
	height:90px;
	text-align:center;
	padding-top:5px;
}
.auctionstart_daterow{
width:217px;
float:left;
padding:0 5px 0 5px;
}
.auctionstart_date{
width:197px;
float:left;
padding:2px 10px 0 10px;
background:url(../images/auctionstart_bg.png) repeat-x;
height:36px;
font-size:13px;
text-align:center;
font-weight:bold;
color:#FFFFFF;
}
.upcomingpro_retailprice{
	width:227px;
	float:left;
	text-align:center;
	color:#666666;
	padding:7px 0 0 0;
}
.upcoming_auctiontype{
width:227px;
float:left;
text-align:center;
padding:8px 0 2px 0;
}
.auctionstart_price{
width:227px;
float:left;
color:#ff6600;
font-size:22px;
font-weight:bold;
text-align:center;
padding:0 0 5px 0;
}
.upcomingauction_more{
	width:701px;
	float:left;
	padding:0 0 10px 0;
	text-align:right;
}
.upcomingauction_more a{
text-decoration:none;
color:#333333;
}
.upcomingauction_more a:hover{
text-decoration:underline;
color:#333333;
}

/*Upcoming Auction end Here*/

/*ended Auction start Here*/
.morelive_container{
width:980px;
float:left;
padding:15px 0px 15px 0px;
display:none;
}
.morelive_title{
	width:701px;
	float:left;
	padding:0px 0px 8px 19px;
	font-weight:bold;
	font-family:Georgia, Helvetica, Arial, sans-serif;
	border-bottom:3px solid #f27200;
	font-size:17px;
}
.morelive_content{
width:956px;
float:left;
padding:11px 11px 5px 11px;
background:#FFFFFF;
border-bottom:1px solid #d0d0d0;
border-right:1px solid #d0d0d0;
border-left:1px solid #d0d0d0;
}
.index_morelive_content_title_leftbg{
	float:left;
	background:url(../images/des_title_leftbg.png) no-repeat;
	width:11px;
	height:38px;
}
.index_morelive_content_title_rightbg{
	float:left;
	background:url(../images/des_title_rightbg.png) no-repeat;
	width:11px;
	height:38px;
}
.index_morelive_content_title_middlebg{
	float:left;
	background:url(../images/des_title_middlebg.png) repeat-x;
	width:934px;
	height:26px;
	padding:12px 0 0 0;
}
.index_morelive_content_titleimage{
	width:160px;
	float:left;
	text-align: center;
	padding-left:0px;
}
.index_morelive_content_titledesc{
	width:310px;
	float:left;
	padding-left:0px;
}
.index_morelive_content_titleprice{
	width:135px;
	float:left;
	text-align: center;
}
.index_morelive_content_titlebidder{
	width:130px;
	float:left;
	text-align: center;
}
.index_morelive_content_titlecountdown{
	width:180px;
	float:left;
	text-align: center;
}
.index_morelive_content_titlesavings{
	width:110px;
	float:left;
	text-align:center;
}
.morelive_bidbox_rowcat{
width:956px;
float:left;
padding:0 0 10px 0;
}
.morelive_more{
width:948px;
float:left;
text-align:right;
padding:5px 8px 8px 0;
}
.morelive_more a{
text-decoration:none;
color:#333333;
}
.morelive_more a:hover{
text-decoration:underline;
color:#333333;
}
.index_morelive_header_box{
	width:980px;
	float:left;
}
.index_morelive_header_leftbg{
	background:url(../images/bidnow_leftbg.png) no-repeat;
	float:left;
	height:39px;
	width:10px;
}
.morelive_middlebg{
	width:955px;
	float:left;
	font-size:16px;
	padding:10px 0 0px 5px;
	font-weight:bold;
	color:#FFFFFF;
	background:url(../images/bidnow_middlebg.png) repeat-x;
	height:29px;
}
.morelive_title_row{
width:419px;
float:left;
display:none;
}
.morelive_title_middlebg{
width:391px;
float:left;
background:url(../images/bidnow_title_middlebg.png) repeat-x;
height:31px;
padding:10px 0 0 10px;
display:none;
}
.morelive_title_rightbg{
width:18px;
float:left;
background:url(../images/bidnow_title_rightbg.png) no-repeat;
height:41px;
}
.index_morelive_header_rightbg{
	background:url(../images/bidnow_rightbg.png) no-repeat;
	float:left;
	height:41px;
	width:10px;
}

/*ended Auction end Here*/

/*Extra Class for right side Start Here*/
.affiliate_right_image{
	float:left;
	padding:15px 0 0 20px;
	display:none;
}
/*Extra Class for right side End Here*/
/*Right Side Section End Here*/
/*Index Section End Here*/

.banner-bottom-main{
width:980px;
margin:auto;
}
.soldpro_box {
    background: url("../images/soldpro_bg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #C9C9C9;
    float: left;
    height: 148px;
    margin: 10px 24px 12px 0;
    padding: 10px 12px 10px 13px;
    width: 280px;
}
.pageloadermain {
	float:left;
	width:982px;
	text-align:center;
	background-color:#888888;
	position:absolute;
	min-height:489px;
	filter:alpha(opacity=30);
	opacity:0.3;
	display:none;
	z-index:999;
}
.pageloaderinner {
	display:inline-block;
	width:865px;
	text-align:center;
	display:none;
	position:relative;
	z-index:9999;
}
.pageloader {
	display:inline-block;
	background: #ffffff url("../images/ajax_loader_green_64.gif") center center no-repeat;
	width:110px;
	height:110px;
	margin:150px 0 0 435px;
	position:absolute;
	text-align:center;

	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius:7px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5), 0 0px 0px rgba(0, 0, 0, 0) inset;
	-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5), 0 0px 0px rgba(0, 0, 0, 0) inset;
}

.auctiontype_detail_title span {
	padding:3px 0px 0px 0px;
	color:#ff4500;
	text-decoration:none;
	cursor:pointer;
}

.auctiontype_detail_title span:hover {
	cursor::pointer;
	color:#ff4500;
	text-decoration:underline;
}

/*Autocomplete CSS End*/

.product_detail_won_auction_heading_main {
	float:left;
	width:205px;
	background:#0baa94;
	height:24px;
	color:#ffffff;
	font-size:16px;
	text-align:left;
	padding:3px 0 3px 20px;
	margin-top:8px;
}
.th .product_detail_won_auction_heading_main {
	font-size: 20px;
}
#page-productdetails .product_detail_won_auction_heading_main {
	font-size: 23px;
}
#page-productdetails.th .product_detail_won_auction_heading_main {
	font-size: 26px;
}
/*.product_detail_won_auction_heading_main {
	float:left;
	width:205px;
	background:#0baa94;
	height:24px;
	color:#ffffff;
	font-size:16px;
	text-align:left;
	padding:3px 0 3px 20px;
	margin-top:20px;
}
.th .product_detail_won_auction_heading_main {
	font-size: 18px;
}*/
.won_auction_saving_bumper_img {
	float:right;
	width:80px;
	height:80px;
	background:url(../images/tag06.png) no-repeat;
	margin:-28px 5px; 0 0;
}
.won_auction_saving_price_lbl {
	float:left;
	padding:40px 12px 0px 12px;
	font-size:14px;
	width:56px;
	text-align:center;
}
.won_auction_saving_price {
	float:left;
	font-size:23px;
	font-weight:bold;
	width:55px;
	text-align:center;
	font-family:'open_sansregular', Tahoma, Helvetica, sans-serif !important;
	padding: 0px 12px 0px 13px;
	margin-top: -42px;
}
.th .won_auction_saving_price_lbl {
	padding:20px 12px 0px 13px;
}
.th .won_auction_saving_price {
	margin-top:-11px;
}
.auction-winner-detail-row {
	float:left;
	padding: 25px 14px 0px;
	width: 199px;
	text-align:left;
	min-height:54px;
	line-height:18px;
	font-size:13px;
}
.recent_ended_auc_whatadeal {
	display:inline-block;
}
.recent_ended_auction_congrats_to_main {
	display:inline-block;
	color:#606060;
	width:700px;
}
.recent_ended_auction_congrats_to_main a {
	color:#606060;
	text-decoration:none;
}
.recent_ended_auction_congrats_to {
	display:inline-block;
	color:#444;
}
.recent_ended_auction_since_launch {
	float:right;
	color:#ff4500;
}

.auction_getdeal_suchathisuser {
	float:left;
	width:190px;
	color:#333333;
	line-height:18px;
	padding:10px 18px 10px 18px;
	text-align:center;
	font-size:13px;
	font-weight:bold;
}
.th .main_bidnow_middle-winner .auction_getdeal_suchathisuser {
	padding-top:0px;
	font-size:16px;
	font-family:'rsubold';
	font-weight:normal;
}
.th .main_bidnow_middle-winner .auction-winner-detail-row {
	font-size:16px;
	min-height:67px;
}
.auction_suchdeal_username {
	display:inline-block;
	color:#888888;
}
.auction_getdeal_suchathisuser a {
	display:inline-block;
	margin-top:5px;
	color:#ff6600;
	text-decoration:none;
}
.auction_ended_dontletyoubidaway {
	float:left;
	width:205px;
	padding:4px 10px;
	height:auto;
	background:#D40000;
	margin:5px 0;
	color:#ffffff;
	text-align:center;
	font-size:14px;
}
.th .auction_ended_dontletyoubidaway {
	font-size: 18px;
	padding-bottom: 0px;
}
.saving_price-product-det {
	color:#059E0E;
	font-size:18px;
	font-weight:normal;
	font-family: 'open_sansbold', Arial, Helvetica, sans-serif !important;
}
.product-det-row-remaining-time {
	float:left;
	width:209px;
	font-size:12px;
	text-align:center;
	color:#CC0000;
	padding:8px 8px 0 8px;
	font-weight:bold;
}
.th .auction-boxes-row-main .auction-boxes-row {
	line-height:16px;
	font-size:15px;
}
.main_bidnow_buynow_main_content {
	float:left;
	width:225px;
}
.th .product-det-row-remaining-time {
	padding:10px 10px 0 10px;
	font-size:16px;
	line-height:21px;
	font-family:'rsubold';
}
.main_bidnow_bidder span {
	line-height:25px;
	font-family:"Open Sans";
	font-weight: bold;
	font-size:15px;
}

.bidnow_middlebg{
	width:980px;
	float:left;
	font-size:19px;
	font-family:'open_sansbold', Arial, Helvetica, sans-serif;
	padding:0px 0 0px 0px;
	color:#333333;
	/*height:50px;*/
}
h3.sechead {
  font-size: 32px;
  font-family: 'effra';
  margin: 15px 0;
  color: #555;
}
.th h3.sechead {
	font-family: 'rsubold';
}

.product_detail_bidnow_bidmultiplier,
.main_bidnow_bidmultiplier,
.product_detail_running_auction_bidmultiplier{
    float:right;
    padding:5px 8px;
    background:#0BAA94;
    color:#fff;
    margin-top:4px;
    border-radius:4px 0 0 4px;
}

.product_detail_running_auction_bidmultiplier{
    margin-top:-7px;
    margin-right:-10px;
}

.product_detail_bidnow_bidmultiplier span,
.main_bidnow_bidmultiplier span,
.product_detail_running_auction_bidmultiplier span{
    font-weight:bold;
}

.auction-type-descriptoin
{
width: 20px !important;
}
